---
name: Java CI
on: [push]
jobs:
  build:
    runs-on: [ubuntu-latest]

    steps:
      - uses: actions/checkout@v1
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Grant execute permission for gradlew2
        run: chmod o-rwx gradlew;

      - name: Assemble with Gradle
        run: ./gradlew assemble

      - name: Build with Gradle
        run: ./gradlew build
...
